/* Layout Styles
===================================*/
section:not(:first-of-type),
section:not(:nth-of-type(n2)) {
  margin-top: 80px; }

.section-two,
.section-three {
  margin-top: 80px; }

/* Homepage
===================================*/
section.home {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/201958/zen-lake-boat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex; }

.jumbotron {
  align-self: center;
  background: transparent;
  color: #ffffff;
  text-align: center;
  width: 90%; }

.jumbotron-btn {
  background: #fff;
  color: #111111; }

.jumbotron-btn:hover {
  background: #183532;
  color: #fff;
  border: 1px solid #fff; }

.highlight {
  background: white !important; }

.highlight:hover {
  color: #fff !important;
  background: rgba(255, 255, 255, 0.2) !important; }

/* Section One Styles
===================================*/
.section-one-content {
  padding: 40px 20px;
  color: #ffffff;
  font-weight: 300; }

.section-one-content h1 {
  margin: 0 0 20px; }

#section-one-left {
  background: #183532; }

#section-one-middle {
  background: #244F4A; }

#section-one-right {
  background: #2A5C56; }

.section-two,
.section-three {
  background: #fff; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.scroll-down {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
  color: white;
  background-color: transparent;
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 100%; }
