/*
	========================================
	Ivy Bootstrap theme
	========================================

	@author			: ivan Sostarko
	@version		: v1.0
	@date-create	: 09/01/2014
	@last-update	: 09/24/2014

*/



/* Variables
===================================*/
$primary-color: #222;
$sidebar-background: #222;
$sidebar-border: #080808;
$toolTipColor: #222;
$toolTipTextColor: #fff;
$toolTipShadow: 0px 3px 5px -2px rgba(0,0,0,0.4);


/* Sass files
===================================*/
@import 'layout';
@import 'bootstrap';
@import 'tooltip';
@import 'scroll_to_top';
@import 'modal';
@import 'caption';
@import 'loader';




