/* Layout Styles
===================================*/

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: $body-color;
  margin: 0;
  padding: 0;
  background: $background-color;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

body.overflow-hidden {
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: $primary-font;
  font-weight: 700;
}

p {
  text-align: justify;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%
}

#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}

.animation {
  opacity:0;
}
.animate_waypoint_fadeInDown {
  opacity: 0;
}
.animation_delay {
  opacity:1;
}
section:not(:first-of-type),
section:not(:nth-of-type(n2)) {
  margin-top: 80px;
  padding-bottom: 80px;
}

.section-one,
.section-two,
.section-three {
  margin-top: 80px;
  padding-bottom: 80px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100% - 1px);
}

.section-one {
  background: $background-color;
}

.section-two {
  background: $light;
}

.section-three {
  color: $light;
  background: $primary-color;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.container-aligned {
  margin-left: auto;
  margin-right: auto;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.container-bottom-padding {
  padding-bottom: 80px;
}

.ca_button {
  margin-top: 10%;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
.ca_button:hover {
  background-color:$primary-color;
  border-color:$dark;
  color: $stable;
}

.btn {
  border-radius: 0;
}


.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.page-title {
  display: block;
  padding: 20px 0;
  margin-bottom: 60px;
}

.page-title h1 {
  position: relative;
  font-family: $primary-font;
  font-size: 33px;
  line-height: 34px;
  font-weight: 700;
  color: #28282d;

}

.page-title h1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 40px;
  height: 1px;
  background-color: $assertive;
}

.page-title h1::after {
  content: '';
  position: absolute;
  left: 40px;
  bottom: -20px;
  width: 40px;
  height: 1px;
  background-color: $dark;
}

/* Sidebar
===================================*/
#sidebar-wrapper {
  margin-left: -200px;
  left: 70px;
  width: 200px;
  background: $primary-color;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#wrapper.active {
  padding-left: 200px;
}

#wrapper.active #sidebar-wrapper {
  left: 200px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
  color: $sidebar-color;
  display: block;
  float: left;
  text-decoration: none;
  width: 200px;
  background: $sidebar-background;
  border-top: 1px solid $sidebar-border-top;
  border-bottom: 1px solid $sidebar-border-bottom;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}

.sidebar_name {
  padding-top: 25px;
  color: $light;
  opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: $sidebar-nav;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: $light;
  background: $sidebar-nav-hover;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 400;
}

.sidebar-nav > .sidebar-brand a {
  font-family: $secondary-font;
  color: $sidebar-nav;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: $light;
  background: none;
}

.nav > li > a {
  padding: 0;

}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
}

#main_icon {
  float: right;
  padding-right: 30px;
  padding-top: 20px;
}

.sub_icon {
  float: right;
  padding-right: 32px;
  padding-top: 10px;
}

/* Homepage
===================================*/
section.home {
  height: 100vh;
  display: flex;
}

.jumbotron {
  align-self: center;
  background: transparent;
  color: $light;
  text-align: center;
  width: 90%;
}

.highlight {
  background: $sidebar-background-hover !important;
}

.highlight:hover {
  color: $light !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

.scroll-down {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  opacity: 0.7;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
  color: $light;
  background-color: transparent;
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  border-width: 1px;
  border-style: solid;
  border-color: $light;
  border-radius: 100%;
  text-align: center;
}

.scroll-down:hover {
  color: $light !important;
}

#home_text {
  height: 33px;
  width: 100%;
}

#canvas-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

/* Home - About me
===================================*/
.about-homepage {
  .profile_image {
    width: 100%;
    margin: 0;
    -webkit-box-shadow: rgba(0, 0, 0, .2) 3px 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, .2) 3px 5px 5px;
    box-shadow: rgba(0, 0, 0, .2) 3px 5px 5px;
  }
}

/* Home - Portfolio
===================================*/
.portfolio-homepage {

  .carousel {
    margin-bottom: 0;
    padding: 0;
  }

  .carousel-control {
    position: relative;
    background: $primary-color;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    color: $light;
    opacity: 1;
    padding: 5px 15px;

  }
  .carousel-margin-right {
    margin-right: 30px;
  }

}

/* Home - Posts
===================================*/
.posts-homepage {
  .post {
    background-color: $light;
    overflow: hidden;
    box-shadow: 0 0 1px $stable;
  }

  .content {
    padding: 15px;
  }

  .datetime {
    font-size: 13px;
    color: #737373;
    padding: 5px 0 10px;
    font-weight: 700;
  }

  .post-img-content {
    height: 200px;
    position: relative;
  }
  .post-img-content img {
    position: absolute;
  }
  .post-title {
    width: 100%;
    bottom: 0;
    z-index: 2;
    position: absolute;

  }
  .post-title a:link, a:visited {
    color: $light;

  }
  .post-title b {
    background-color: rgba(51, 51, 51, 0.58);
    display: inherit;
    color: $light;
    padding: 10px 15px;
    word-wrap: break-word;

  }
  .all_posts {
    background: $primary-color;
    color: $light;
    margin-top: 3%;
    margin-right: 3%;
  }
  .btn-all_posts {
    color: $light;
    background-color: $primary-color;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }
  .btn-all_posts:hover {
    background-color:$stable;
    color:$dark;
  }
}

/* Home - Contacts
===================================*/
.contacts-homepage {

  .form-group {
    margin-bottom: 20px !important;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 0px !important;
    font-size: 16px !important;
    line-height: 1.42857143;
    color: $dark;
    background-color: transparent !important;
    border: none !important;
    background-image: none;
    border-bottom: 1px solid $dark !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  ::-webkit-input-placeholder {
    color: $dark;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $dark;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $dark;
  }

  :-ms-input-placeholder {
    color: $dark;
  }
  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .1em;
    background: $primary-color;
    color: $light;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }
  .button-block {
    display: block;
    padding: 7px 15px;
    margin: 10px auto;
  }
  .btn-contact {
    color: $light;
    background-color: $primary-color;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }
  .btn-contact:hover {
    background-color:$stable;
    color:$dark;
  }
}

/* Footer
===================================*/
footer {
  background: $light;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100% - 1px);
}

.footer {

  .ivy_footer {
    font-family: $secondary-font;
    color: $stable;
  }

  .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .social {
    color: $primary-color;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper {
    left: 70px;
  }
  #wrapper.active {
    padding-left: 150px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 200px;
    width: 200px;
    transition: all .4s ease 0s;
  }
  #home_text {
    font-size: 20px;
  }

  .profile_image {
    margin-bottom: 25px !important;
  }

  .page-title {
    padding: 10px 0;
    margin-bottom: 30px;
  }
  .page-title h1 {
    font-size: 25px;
  }
  .carousel-margin-right {
    width:50%;
    margin-right: auto;
    margin-left:auto;
  }
  .posts-homepage {
    .post {
      margin-bottom: 25px;
    }
    .post-title {
      bottom: 29px;
    }
    .content {
      padding: 0px 15px 15px 15px;
    }

  }
}