.morph-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.morph-modal h1 {
  font-size:2.3em;
}

.morph-modal.open-modal {
  opacity: 1;
  visibility: visible;
}

.modal-content, .close-modal {
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 2;
}

.modal-visible .modal-content,
.modal-visible .close-modal {
  opacity: 1;
  background-color: #edeff0;
  border:none;
}

.modal-content {
  position: relative;
  height: 100%;
  overflow: auto;
  padding: 40px 20%;
}

.modal-content::-webkit-scrollbar {
  width: 0.8em;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 1px solid rgba(0,0,0,0.3);
}
.modal-content.overflow-hidden {
  /* used when modal is visible */
  overflow: hidden;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background: rgba(0, 255, 66, 0.2);
  border-radius: 50%;
  border: none;
  text-indent: 100%;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  transition: background 0.2s;
}
.close-modal:hover {
  color:white;
  background-color: $primary-color;
}

.close-modal::before,
.close-modal::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 24px;
  background: $primary-color;
  color: transparent;
}

.close-modal::before {
  transform: translate(-50%) rotate(45deg);
}

.close-modal::after {
  transform: translate(-50%) rotate(-45deg);
}


.close-modal:hover::before {
  background:white;
}

.close-modal:hover::after {
  background:white;
}


.morph-btn, .morph-background {
  display: inline-block;
  height: 30px;
  width: 140px;
  border:none;
  color:white;
  background-color: $primary-color;
}

.morph-btn {

  opacity: 1;
  transition: background 0.2s;
}
.morph-btn:hover {
  color:white;
  background: #999;
}

.morph-background {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}

@media (max-width:767px) {
  .modal-content {
    margin-left: 70px;
    padding: 15px;
    transition: all .4s ease 0s;
  }
}


/* Browser mockup code
 * Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
 * Live example: https://updown.io
 */

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
  margin-bottom:100px;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0em;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup > * {
  display: block;
}

.browser-mockup {
  margin-top:2em;
  margin-left:0;
  margin-right:1em;
  flex: 1;
  min-height: 600px;
}

@media (max-width:767px) {
   .browser-mockup {
    min-height:200px;
  }
}

.tags {
  display: block;
  padding: 0;
}
.tags li {
  float: left;
  list-style-type: none;
}
.tags li a {
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 12px;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: $primary-color;
  font-size:12px;
}

/* http://codepen.io/kescoe/pen/AKEbp */
#phone{
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:100px;
  height: 600px;
  width: 285px;
}
#base{
  margin-top:12px;
  margin-left: 16px;
  height: 600px;
  width: 285px;
  border-radius:40px;
  border:solid rgba(52, 52, 52, 0.83) 3px;
  border-right:2px solid rgba(136, 136, 136, 0.69);
  border-left:2px solid rgba(47, 47, 47, 0.49);
  background: linear-gradient(67deg,rgb(0,0,0),rgb(0,0,0) 64%, rgb(43,43,43) 50%);
  background-size:100%;
  background-repeat:no-repeat;
  position:absolute;
  box-shadow: -20px 10px 5px 10px rgba(11, 11, 11, 0.51);
}



#ear{
  height:12px;
  width:65px;
  position:absolute;
  border-radius:20px;
  background-color:black;
  margin-left:120px;
  margin-top: 56px;
  border-top: solid rgba(255, 255, 255, 0.37) 1px;
  border-left: solid rgba(255, 255, 255, 0.3) 1px;
}
#sleep{
  border-top:1px solid rgba(195, 191, 191, 0.38);
  border-right:1px solid rgba(195, 191, 191, 0.58);
  position:absolute;
  height:3px;
  width: 45px;
  margin-left: 211px;
  margin-top:8px;
  background-color: black;
}
#screen{
  margin-left:36px;
  margin-top:100px;
  height:430px;
  width:245px;
  background-repeat:no-repeat;
  background-size:120%;
  background-position:-25;
  border-bottom: 2px solid rgba(16, 16, 16, 0.97);
  position:absolute;
}
#home_phone{
  margin-left:132px;
  margin-top:545px;
  height:53px;
  width:53px;
  border-top: 1px solid rgba(255, 255, 255, 0.51);
  position:absolute;
  background: linear-gradient(rgb(0,0,0) 49%, rgb(43,43,43) 50%, rgb(41,41,41) 88%);
  border-radius:30px;
}
#home_phone:after{
  content:'';
  margin-left:15px;
  margin-top:14px;
  height:20px;
  width:20px;
  border: 2px solid rgba(255, 255, 255, 0.38);
  position:absolute;
  border-radius:5px;
}
#shine{position:absolute;
  margin-top:100px;
  margin-left:145px;
  width: 0;
  height: 0;
  border-top: 320px solid rgba(253, 253, 253, 0.27);
  border-left: 135px solid transparent;
}
#bar{
  background-color: #242424;
  height:15px;
  width:245px;
  position:absolute;
  margin-top: 100px;
  margin-left:36px;
}
#cam{
  margin-left:155px;
  margin-top:35px;
  height:11px;
  width:11px;
  background-color:#111112;
  border-top:1px solid rgba(255, 255, 255, 0.51);
  position:absolute;
  border-radius:30px;
}
#sideButton{
  border-top:1px solid rgba(195, 191, 191, 0.88);
  height:27px;
  width:5px;
  margin-top:95px;
  margin-left:11px;
  position:absolute;
  background-color: rgb(31, 31, 31);
}
#sideButton:after{
  border-top:1px solid rgba(195, 191, 191, 0.88);
  content:"";
  height:20px;
  width:5px;
  margin-top:57px;
  margin-left:0px;
  position:absolute;
  background-color: rgb(31, 31, 31);
}

@media (max-width:767px) {
  #phone {
    margin-bottom: 100px;
    height: 450px;
    width: 220px;
  }
  #base {

    height: 450px;
    width: 220px;
  }

  #ear {
  visibility: hidden;
  }

  #sleep {
    height: 3px;
    width: 45px;
    margin-left: 150px;
    margin-top: 10px;
  }
  #screen {
    margin-left: 36px;
    margin-top: 100px;
    height: 50%;
    width: 70%;
  }
  #home_phone {
    visibility: hidden;
  }
  #home_phone:after {
    content: '';
    margin-left: 15px;
    margin-top: 14px;
    height: 20px;
    width: 20px;
  }
  #shine {
    margin-left:0;
    visibility: hidden;
  }
  #bar {
    height: 15px;
    width: 190px;
    position: absolute;
    margin-top: 100px;
    margin-left: 36px;
  }
  #cam {
    visibility: hidden;
  }
  #sideButton {
    height: 27px;
    width: 5px;
    margin-top: 95px;
    margin-left: 11px;
  }
  #sideButton:after {
    border-top: 1px solid rgba(195, 191, 191, 0.88);
    content: "";
    height: 20px;
    width: 5px;
    margin-top: 57px;
    margin-left: 0px;
  }
}
/* http://codepen.io/martymcfly11/pen/myJrgg */
.monitor {
  margin-top:25px;
  height: auto;
  width: 90%;
}

.bevel {
  background-color: black;
  margin: 0 auto;
  height: 430px;
  width: 100%;
  padding: 20px;
}

.screen_monitor {
  background-color: #4005BD;
  height: 390px;
}

.stand {
  background-color: black;
  height: 45px;
  width: 30px;
  margin: 0 auto;
}

.base {
  background-color: black;
  height: 20px;
  width: 30%;
  margin: 0 auto;
}

.portfolio-page-title {
  display: block;
  padding: 20px 0;
  margin-bottom: 30px;
}



.portfolio-page-title {
  display: block;
  padding: 20px 0;
  margin-bottom: 30px;
}
.portfolio-page-title h1 {
  position: relative;
  font-family: 'Open Sans',sans-serif;
  font-size: 33px;
  line-height: 34px;
  font-weight: 700;
  color: #28282d;

}

.portfolio-page-title h1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 40px;
  height: 1px;
  background-color: #ef4034;
}

.portfolio-page-title h1::after {
  content: '';
  position: absolute;
  left: 40px;
  bottom: -20px;
  width: 40px;
  height: 1px;
  background-color: #28282d;
}

.carousel_project_type_website {

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
  }
  .carousel-indicators {
    position: absolute;
    bottom: -50px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    padding-top:15%;
  }

  .carousel-indicators li {
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid $primary-color;

  }

  .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: $primary-color;
  }
}


.carousel_project_type_mobile {

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
  }
  .carousel-indicators {
    position: absolute;
    bottom: -150px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    padding-top:15%;
  }

  .carousel-indicators li {
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid $primary-color;

  }

  .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: $primary-color;
  }
}

@media (max-width:767px) {
  .monitor {
    display: inline;
  }

  .bevel {
    display: inline;
    background-color: transparent;
  }

  .screen_monitor {
    display:inline;
  }

  .stand {
    display: none;
  }

  .base {
    display: inline;

  }
  .screen_monitor_content {
    display: block;
  }



}